<div class="columns is-centered m-0">
  <div class="column is-full-mobile is-four-fifths is-flex is-justify-content-space-between">
    <button class="button is-primary mr-2" (click)="addNewBus()">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      <span>Добавить</span>
    </button>
  </div>
</div>
<div class="columns is-centered m-0">
  <div class="column is-full-mobile is-four-fifths">
    <div class="columns is-centered has-text-centered m-0">
      <p-table [scrollable]="true" scrollHeight="600px" scrollDirection="both"
               class="table is-bordered is-striped is-narrow is-hoverable"
               dataKey="id"
               [rows]="15"
               [lazy]="true"
               [paginator]="true"
               [sortOrder]="-1"
               [rowsPerPageOptions]="[10,15,20]"
               [loading]="loading"
               [value]="buses"
               [totalRecords]="totalRecords"
               (onLazyLoad)="loadBuses($event)">
        <ng-template pTemplate="header">
          <tr class="has-background-grey-light">
            <th style="width:10px">
              №
            </th>
            <th style="width:50px">
              Название
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Номер
              </div>
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Цвет
              </div>
            </th>
            <th style="width:50px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bus let-rowIndex="rowIndex">
          <tr [pEditableRow]="bus">
            <td style="width:10px">
              {{rowIndex + 1}}
            </td>
            <td style="width:50px">
              {{bus.name}}
            </td>
            <td style="width:50px">
              {{bus.number}}
            </td>
            <td style="width:50px">
              {{bus.color}}
            </td>
            <td style="width:50px">
              <div class="is-flex is-justify-content-end">
                <button class="button is-primary mr-1"
                        (click)="edit(bus)">
                  <span class="icon is-small">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
                <button class="button is-danger is-outlined"
                        (click)="delete(bus)">
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="content is-medium has-text-centered">Нет автобусов</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div *ngIf="selectedBus" class="modal" [ngClass]="{ 'is-active' : isEditDialogActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p *ngIf="!!selectedBus.id" class="modal-card-title">Редактирование автобуса</p>
      <p *ngIf="!selectedBus.id" class="modal-card-title">Добавление автобуса</p>
      <button class="delete" aria-label="close" (click)="toggleEditDialog()"></button>
    </header>
    <section class="modal-card-body">
      <div class="block control is-expanded">
        <input type='text'
               class="input is-medium"
               placeholder="Название"
               [(ngModel)]="selectedBus.name"/>
      </div>
      <div class="block control is-expanded">
        <input type='text'
               class="input is-medium"
               placeholder="Номер"
               [(ngModel)]="selectedBus.number"/>
      </div>
      <div class="block control is-expanded">
        <input type="text"
               class="input is-medium"
               placeholder="Цвет"
               [(ngModel)]="selectedBus.color"/>
      </div>
      <div class="control is-horizontal column is-full-mobile has-text-centered">
        <button type="submit"
                class="button is-warning is-medium is-fullwidth-mobile" (click)="saveChanges()">
          Сохранить изменения
        </button>
      </div>
    </section>
  </div>
</div>
