<div class="section pt-0 pb-0">
  <div class="container">
    <div *ngIf="user" class="columns is-centered m-0">
      <div id="tabs" class="tabs is-centered is-boxed column is-three-quarters is-full-touch">
        <ul>
          <li [ngClass]="{'is-active': isSearch}" class="is-active">
            <a (click)="toggleSearch()">
              <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
              <span>Поиск рейса</span>
            </a>
          </li>
          <li [ngClass]="{'is-active': isPassengers}" class="is-active">
            <a (click)="togglePassengers()">
              <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
              <span>Управление пассажирами</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isSearch" class="columns is-centered m-0">
      <div class="column">
        <app-search-form></app-search-form>
      </div>
    </div>
    <div *ngIf="isPassengers" class="columns is-centered m-0">
      <div class="column">
        <app-passengers [routeId]="routeId"></app-passengers>
      </div>
    </div>
  </div>
</div>
