<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column has-text-grey is-size-5">
        <a class="grey-link" href [routerLink]="['/help']">
          <i class="fas fa-arrow-left"></i> Вернуться назад
        </a>
      </div>
      <div class="column is-two-thirds-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-4-desktop is-size-5-touch">
          Могу ли я не указывать / указать чужой номер телефона?</h1>
        Нет, для успешной авторизации в системе пассажиру следует подтвердить указанный им номер телефона,
        так как он будет использоваться для связи в дальнейшем.
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
