.main {
  margin-top: 60px;
}

.message {
  margin: 1vw;
}

option {
  font-size: smaller;
}

.fa-map-marker, .fa-map-marker-alt, .dots {
  color: #e7c03d;
  writing-mode: vertical-rl;
}

.comment {
  position: relative;
  background-color: #fff;
  padding: 7px 7px;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.comment::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: .75rem solid transparent;
  border-top: none;

  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

@media screen and (max-width: 769px), print {
  .confirmation .columns {
    display: flex;
  }

  .modal-card, .modal-content {
    width: auto;
    flex: auto;
  }
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f6ebd8;
}

.booking-form {
  position: relative;
  z-index: 20;
}

h1 {
  color: var(--dark-navbar-item-color);
}
