<div *ngIf="selectedRoute" class="booking-form">
  <div *ngIf="!user || !user.id || !user.name">
    <h1 *ngIf="!user || !user.id">Для продолжения войдите или зарегистрируйтесь.</h1>
    <app-login></app-login>
  </div>
  <div *ngIf="user && user.id && user.name" class="box">
    <app-edit-passenger-form [passengerId]="passenger.id"
                             [routeId]="selectedRoute.id"
                             (cancelChanges)="cancelChanges()"
                             (changesSubmit)="createdPassenger($event)">
    </app-edit-passenger-form>
  </div>
</div>

<div *ngIf="passenger.route && passenger.user" class="modal" [ngClass]="{ 'is-active' : showBookingResult }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="has-text-weight-bold is-size-4">{{passenger.route.departureDateTime | dateWithDay}}</p>
    </header>
    <section class="modal-card-body pb-3">
      <div class="content">
        <div class="columns is-gapless">
          <div class="column is-half-desktop is-full-touch has-text-left confirmation">
            <div class="columns">
              <div class="column is-one-third-touch">
                <p class="mb-6">{{passenger.departurePoint.time}}</p>
                <p>{{passenger.arrivalPoint.time}}</p>
              </div>
              <div class="column is-vertical has-text-centered is-one-third-touch">
                <i class="fas fa-map-marker fa-lg"></i>
                <br>
                <span class="dots">-----</span>
                <br>
                <i class="fas fa-map-marker-alt fa-lg"></i>
              </div>
              <div class="column is-two-thirds is-two-thirds-touch confirmation">
                <p class="pb-0">{{passenger.route.departureCity.name}}
                  <span *ngIf="passenger.route.platformNumber">пл. №{{passenger.route.platformNumber}}</span></p>
                <p class="is-size-7 has-text-grey mb-4">{{passenger.departurePoint.name}}</p>
                <p class="pb-0">{{passenger.route.arrivalCity.name}}</p>
                <p class="is-size-7 has-text-grey">{{passenger.arrivalPoint.name}}</p>
              </div>
            </div>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-half-desktop is-full-touch" [style]="'flex: auto'">
            <p class="is-size-7 has-text-grey has-text-left">Пассажир</p>
            <div class="level is-mobile">
              <div class="level-left has-text-left">
                <p class="level-item">{{passenger.name}}</p>
              </div>
              <div class="level-right">
                <p class="level-item">{{passenger.numberOfPlaces}} ч.</p>
              </div>
            </div>
            <div *ngIf="passenger.comment" class="comment mt-2">
              {{passenger.comment}}
            </div>
          </div>
        </div>
        <div class="column p-0">
          <article class="message is-info has-text-left">
            <div class="message-body">
              Онлайн-подтверждение заказа доступно в <a class="link" href [routerLink]="['/personal/orders']">Личном кабинете</a>
              за 24 часа до отправления.
            </div>
          </article>
          <article class="message is-warning has-text-left">
            <div class="message-body">
              Отмена брони осуществляется не позднее 1ч до времени отправления.
              <br>
              Отменить бронь можно в <a class="link" href [routerLink]="['/personal/orders']">Личном кабинете</a>
              или с помощью <a href="tel:+375296431119">диспетчерской службы</a>.
              <br>
              <i class="fas fa-exclamation-triangle"></i> В случае неявки на рейс без предварительной отмены Ваш
              приоритет записи на следующий рейс будет снижен.
            </div>
          </article>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot level">
      <div class="level-right">
        <button class="button is-warning level-item" (click)="approveBookingResults()">Принять</button>
      </div>
    </footer>
  </div>
</div>

