<div class="columns is-centered m-0">
  <div class="column is-full-mobile is-four-fifths">
    <div class="columns is-centered has-text-centered m-0">
      <p-table [scrollable]="true" scrollHeight="600px" scrollDirection="both"
               class="table is-bordered is-striped is-narrow is-hoverable"
               dataKey="code"
               [rows]="10"
               [lazy]="true"
               [sortOrder]="-1"
               [paginator]="true"
               [rowsPerPageOptions]="[10,15,20]"
               [loading]="loading"
               [value]="routes"
               [totalRecords]="totalRecords"
               (onLazyLoad)="loadRoutes($event)">
        <ng-template pTemplate="header">
          <tr class="has-background-grey-light">
            <th style="width:10px">
              №
            </th>
            <th style="width:50px" pSortableColumn="date">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Дата
                  <p-sortIcon field="date"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" pSortableColumn="schedule.time">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Время отправления
                  <p-sortIcon field="departureTime"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" pSortableColumn="schedule.departureCity">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Отправление
                  <p-sortIcon field="schedule.departureCity"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" pSortableColumn="schedule.arrivalCity">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Прибытие
                  <p-sortIcon field="schedule.arrivalCity"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Кол-во свободных мест
                </div>
              </div>
            </th>
            <th style="width:50px"></th>
          </tr>
          <tr>
            <th>
            </th>
            <th style="width:50px">
              <p-calendar inputStyleClass="input" #dateFilter [appendTo]="'body'"
                          (onSelect)="filter('date', dateFilter.value)" [firstDayOfWeek]="1"
                          [readonlyInput]="true" [dateFormat]="'dd.mm.yy'" placeholder="дд.мм.гггг">
              </p-calendar>
            </th>
            <th style="width:50px">
              <input type="text" class="input" #timeFilter (keydown.enter)="filter('departureTime', timeFilter.value)"/>
            </th>
            <th style="width:50px">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #departureCityFilter (input)="filter('departureCityName', departureCityFilter.value)">
                    <option value="" selected>Все</option>
                    <option *ngFor="let city of cities">{{city}}</option>
                  </select>
                </div>
              </div>
            </th>
            <th style="width:50px">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #arrivalCityFilter (input)="filter('arrivalCityName', arrivalCityFilter.value)">
                    <option value="" selected>Все</option>
                    <option *ngFor="let city of cities">{{city}}</option>
                  </select>
                </div>
              </div>
            </th>
            <th>
            </th>
            <th style="width:50px">
              <button class="button is-grey-light is-outlined" (click)="clear();
              dateFilter.onClearButtonClick(null); timeFilter.value = null;
              departureCityFilter.value = ''; arrivalCityFilter.value = '';">
                <span class="icon is-small">
                  <i class="fas fa-undo"></i>
                </span>
              </button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-route let-rowIndex="rowIndex">
          <tr [pEditableRow]="route">
            <td style="width:10px">
              {{rowIndex + 1}}
            </td>
            <td style="width:50px">
              {{route.departureDateTime | date:'dd.MM.yy'}}
              <span *ngIf="route.status === 'CANCELED'" class="tag is-danger is-light">ОТМЕНЕН</span>
            </td>
            <td style="width:50px">
              {{route.departureDateTime | date:'HH:mm'}}
            </td>
            <td style="width:50px">
              {{route.departureCity.name}}
            </td>
            <td style="width:50px">
              {{route.arrivalCity.name}}
            </td>
            <td style="width:50px">
              {{route.freePlaces}}
            </td>
            <td style="width:50px">
              <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu7">
                      <span class="icon is-small">
                        <i class="fas fa-bars"></i>
                      </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu7" role="menu">
                  <div class="dropdown-content">
                    <div *ngIf="route.status === 'ACTIVE' && isActive(route)" class="dropdown-item">
                      <a style="color: darkred" (click)="cancelRoute(route)">
                        Отменить рейс
                      </a>
                    </div>
                    <hr *ngIf="route.status === 'ACTIVE' && isActive(route)" class="dropdown-divider">
                    <div *ngIf="route.status === 'CANCELED' && isActive(route)" class="dropdown-item">
                      <a style="color: darkgreen" (click)="activateRoute(route)">
                        Возобновить рейс
                      </a>
                    </div>
                    <hr *ngIf="route.status === 'CANCELED' && isActive(route)" class="dropdown-divider">
                    <div class="dropdown-item">
                      <a (click)="showPassengers(route.id)">
                        Пассажиры
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="10">
              <div class="pt-4 pb-4 has-text-centered">
                Нет рейсов
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
