.modal-card {
  height: 80%;
}

@media screen and (max-width: 769px), print {
  :host ::ng-deep .fc .fc-toolbar-title {
    font-size: 20px;
  }

  :host ::ng-deep .fc .fc-toolbar {
    display: block;
  }
}
