<div class="columns is-centered m-0">
  <div class="column is-four-fifths">
    <div class="level">
      <div class="level-left">
        <button *ngIf="!newRouteMenu" class="button" (click)="onNewRouteMenuShow()">Добавить рейс</button>
      </div>
      <div class="level-right">
        <input type="checkbox" id="activeSwitch" [(ngModel)]="showSchedule"
               class="switch is-rounded is-outlined is-info" checked="checked" (click)="toggleSchedule()">
        <label for="activeSwitch">Показать расписание</label>
      </div>
    </div>
    <div class="columns m-0 p-0">
      <div *ngIf="newRouteMenu" class="column is-one-quarter is-full-touch p-0">
        <article class="message is-info">
          <div class="message-header">
            Новый рейс
            <button class="delete" (click)="toggleNewRouteMenu()"></button>
          </div>
          <div class="message-body">
            <div class="select is-fullwidth">
              <select [(ngModel)]="newRouteDepartureCityId" name="departurePoint">
                <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
              </select>
            </div>
            <div class="control">
              <label class="radio">
                <input type="radio" name="foobar" [value]="ONE_TIME" [(ngModel)]="repeatType">
                Один раз
              </label>
              <label class="radio ml-0">
                <input type="radio" name="foobar" [value]="EACH_WEEK" [(ngModel)]="repeatType">
                Каждую неделю
              </label>
            </div>
            <p-calendar inputStyleClass="input" [(ngModel)]="newRouteDateTime"
                        [firstDayOfWeek]="1" [showTime]="true" inputId="time"
                        [readonlyInput]="true" [dateFormat]="'dd.mm.yy'" placeholder="дд.мм.гггг">
            </p-calendar>
            <button *ngIf="!!repeatType && !!newRouteDepartureCityId && !!newRouteDateTime"
                    class="button mt-1 is-outlined" (click)="addNewRoute()">Добавить рейс
            </button>
          </div>
        </article>
      </div>
      <div class="column is-full-touch p-0" [ngClass]="{'is-three-quarters': newRouteMenu, 'is-fullwidth': !newRouteMenu}">
        <full-calendar #calendar [options]="options"></full-calendar>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!!selectedEvent" class="modal" [ngClass]="{ 'is-active' : isEditDialogActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{getFormattedTime(selectedEvent.start)}} {{selectedEvent.title}}</p>
      <button class="delete" aria-label="close" (click)="toggleEditDialog()"></button>
    </header>
    <section class="modal-card-body">
      <div class="select is-fullwidth">Перевозчик:
        <select [(ngModel)]="selectedEvent.extendedProps.schedule.firmId" name="departurePoint">
          <option *ngFor="let firm of firms" value="{{firm.id}}">{{firm.name}}</option>
        </select>
      </div>
      <div class="block">Дата окончания рейса: {{selectedEvent.extendedProps.schedule.endDate || 'не указана'}}</div>
      <div class="block">
        Новая дата:
        <p-calendar #endDateInput inputStyleClass="input"
                    [firstDayOfWeek]="1"
                    [dateFormat]="'dd.mm.yy'" placeholder="дд.мм.гггг">
        </p-calendar>
      </div>
      <div class="block">Номер платформы:
        <input class="input" [(ngModel)]="selectedEvent.extendedProps.schedule.platformNumber"
               [disabled]="selectedEvent.extendedProps.schedule.departureCity.id === 1"/>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="updateSchedule(selectedEvent.id, endDateInput.value)">Сохранить
      </button>
    </footer>
  </div>
</div>

