<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column has-text-grey is-size-6">
        <a class="grey-link" href [routerLink]="['/help']">
          <i class="fas fa-arrow-left"></i> Вернуться назад
        </a>
      </div>
      <div class="column is-two-thirds-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-4-desktop is-size-5-touch">
          Как забронировать место?
        </h1>
        <ol>
          <li>Авторизуйтесь в системе через <a href="https://luniniecbus.by/#/login">Личный кабинет</a> или в окне
            после выбора рейса на главной странице.
            <div class="has-text-centered">
              <img src="/assets/img/login.png" alt="Login page">
            </div>
          </li>
          <li>Введите имя пассажира (по умолчанию устанавливается имя пользователя), количество мест (от 1 до 4) и
            выберите пункты отправления и прибытия из предложенных.
            <br>
            Дополнительную информацию для водителя можно указать в комментарии.
            <article class="message is-warning has-text-left mt-2">
              <div class="message-body">
                Бронирование более 4 мест осуществляется с помощью звонка по номеру
                <a href="tel:+375296431119">диспетчерской службы</a>.
              </div>
            </article>
            <div class="has-text-centered">
              <img src="/assets/img/booking-form.png" alt="Booking form">
            </div>
          </li>
          <li>Нажмите кнопку "Забронировать". Если Вы заполнили данные корректно, то увидите следующее сообщение:
            <div class="has-text-centered">
              <img src="/assets/img/success-booking-message.png" alt="Success booking message">
            </div>
          </li>
          <li>После успешного бронирования будет отображена информация о брони.
            <br>
            После проверки данных нажмите кнопку "Принять".
            <div class="has-text-centered">
              <img src="/assets/img/approval.png" alt="Approval page">
            </div>
          </li>
        </ol>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>
