.content {
  margin: 0 7vw 4rem 7vw;
  overflow: hidden;
}

.brand {
  color: lightgray;
  margin: 0 5px 0 5px;
}

a {
  color: #4a4a4a;
}

a:hover {
  color: darkgoldenrod;
}

.column {
  padding-top: 10px;
}

.spaced {
  margin-top: 1rem;
}

img {
  margin: 10px
}

.animated {
  animation: 5s ease-in 1s infinite normal slidein;
  position: relative;
}

@keyframes slidein {
  from {
    left: -10px;
    opacity: 0
  }
  10% {
    opacity: 1
  }
  30%{
    left: 0;
  }
  90% {
    left: 100%;
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}

.contact {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

.columns {
  margin: 0;
}
