<div class="content">
  <div class="columns is-centered is-vcentered">
    <div class="column is-half is-full-mobile has-text-right has-text-centered-mobile">
      <img src="assets/img/bus1.jpg" alt="bus1" width="200">
    </div>
    <div class="column is-half is-full-mobile has-text-left has-text-centered-mobile">
      <p class="is-uppercase contact is-size-3-desktop is-size-4-touch">Контакт-центр</p>
      <p>Время работы: с 09:00 до 21:00</p>
      <div class="has-text-weight-semibold">
        <a href="tel:+375296431119">+375 (29) 643-11-19 <span class="brand">(A1)</span></a>
        <br>
        <a href="tel:+375295310119">+375 (29) 531-01-19 <span class="brand">(MTC)</span></a>
      </div>
    </div>
  </div>

  <div class="columns is-centered  is-vcentered">
    <div class="column is-half is-full-mobile has-text-right has-text-justified-mobile">
      <p>
        Наш автопарк состоит из автобусов марок Volkswagen и Mercedes-Benz.
        <br>
        Время движения по маршруту Лунинец - Минск - <span class="bold">3ч 40мин</span>.
        <br>
        Стоимость поездки по маршруту Лунинец - Минск - 25р.
        <br>
        <span class="has-text-grey-light">* информация носит справочный характер. Актуальную стоимость уточняйте у оператора</span>
      </p>
    </div>
    <div class="column is-half is-full-mobile has-text-left has-text-centered-mobile">
      <img class="animated" src="assets/img/colored_green.png" alt="bus2" width="200">
    </div>
  </div>

  <div class="columns is-centered is-vcentered">
    <div class="column is-half is-full-mobile has-text-right has-text-centered-mobile">
      <img src="assets/img/bus.png" alt="bus3" width="200">
    </div>
    <div class="column is-half is-full-mobile has-text-left has-text-justified-mobile">
      <p>Уже более десятка лет наша компания делает все, чтобы пассажирские перевозки для наших клиентов были
        максимально безопасными и удобными.</p>
    </div>
  </div>
</div>
