p {
  font-size: 1.1rem;
}

a {
  color: #1b1b1b;
}

footer a:hover {
  color: darkgoldenrod;
}

footer {
  margin: 7rem 0 0 0;
  padding-bottom: 10px;
}

.content {
  position: relative;
  z-index: 10;
  margin: 10px 30px 30px;
  font-family: 'Nunito', sans-serif;
}
