<footer>
  <div class="content has-text-centered">
    <p><a href="tel:+375296431119">+375 29 643 11 19</a></p>
    <p><a href="tel:+375295310119">+375 29 531 01 19</a></p>
    <p><a class="is-uppercase" [routerLink]="['/about']">О нас</a></p>
    <p><a class="is-uppercase" [routerLink]="['/privacy']">политика конфиденциальности</a></p>
    <p><a href="https://vk.com/minsk_mikashevichi_by" target="_blank"><i class="fab fa-vk fa-2x"></i></a></p>
  </div>
</footer>

