.link {
  color: #e7c03d;
  text-decoration: underline;
}

.sub-info {
  color: darkgray;
  padding: 12px;
}

ul {
  list-style-type: inherit;
  list-style-position: inside;
}

@media screen and (max-width: 769px), print {
  .counter {
    display: flex;
    flex-basis: 0;
    flex-grow: 5;
    flex-shrink: 1;
  }
}

.main {
  z-index: 99;
  position: relative;
}

.main label {
  color: var(--form-label-color);
}

.dark-theme .main label {
  color: var(--dark-form-label-color);
}
