<div *ngIf="user && passenger && passenger.user && route && departurePoints && arrivalPoints"
     class="columns is-centered main ml-0 mr-0" [style]="{'width':'100%'}" [ngClass]="{ 'dark-theme': isDarkTheme}">
  <div class="column is-full-touch pl-0 pr-0" [ngClass]="{'is-three-quarters': !passenger.id && !isAdministration()}">
    <div *ngIf="passenger && isAdministration()" class="level">
      <div class="field is-horizontal is-full-mobile level-left">
        <div class="field-label is-normal">
          <label class="label">Подтвержден</label>
        </div>
        <div class="field-body">
          <input type="checkbox" id="confirmedSwitch" name="switchRoundedOutlinedWarning"
                 [checked]="passenger.confirmed"
                 class="switch is-rounded" (click)="toggleConfirmed(passenger)">
          <label for="confirmedSwitch" class="m-0"></label>
        </div>
      </div>
      <div *ngIf="passenger.user && passenger.user.rating" class="field has-addons level-right">
        <div class="control">
          <button class="button" (click)="toggleRatingBox()">Рейтинг</button>
        </div>
        <div class="control">
          <button class="button" (click)="toggleRatingBox()"
                  [ngClass]="{'is-success': passenger.user.rating === 'GREEN',
          'is-warning': passenger.user.rating === 'YELLOW', 'is-danger': passenger.user.rating === 'RED'}">
            <span class="icon is-small">
               <i class="fas fa-star"></i>
                </span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="passenger.user && passenger.user.rating && isRatingOpen && isAdministration()" class="notification">
      <button class="delete" (click)="toggleRatingBox()"></button>
      <div class="field has-addons">
        <p class="control">
          <button class="button is-success" [ngClass]="{'is-light': passenger.user.rating !== 'GREEN'}"
                  (click)="updateRating('GREEN')">
            <span class="icon is-small">
               <i class="fas fa-star"></i>
                </span>
          </button>
        </p>
        <p class="control">
          <button class="button is-warning is-light" [ngClass]="{'is-light': passenger.user.rating !== 'YELLOW'}"
                  (click)="updateRating('YELLOW')">
            <span class="icon is-small">
              <i class="fas fa-star-half-alt"></i>
                </span>
          </button>
        </p>
        <p class="control">
          <button class="button is-danger is-light" [ngClass]="{'is-light': passenger.user.rating !== 'RED'}"
                  (click)="updateRating('RED')">
            <span class="icon is-small">
               <i class="far fa-star"></i>
                </span>
          </button>
        </p>
      </div>
      <ul>
        <li><strong>Зеленый</strong> - нет ограничений.</li>
        <li><strong>Желтый</strong> - нет ограничений, предупреждение.</li>
        <li><strong>Красный</strong> - ограничение прав на 3 месяца.</li>
      </ul>
    </div>
    <div class="field is-horizontal is-full-mobile">
      <div class="field-label is-normal">
        <label class="label">Номер телефона</label>
      </div>
      <div class="field-body">
        <div class="field control is-expanded has-icons-left">
          <input *ngIf="!isAdministration()" [ngModel]="user.phone" name="phone" type='text' prefix="+375 "
                 mask="(00) 000 00 00"
                 class="input is-medium" [readOnly]="true"
                 [ngClass]="{'is-danger': invalidPhone}"/>
          <input *ngIf="isAdministration()" [(ngModel)]="passenger.user.phone"
                 [readOnly]="!isActive(passenger)"
                 type='text' prefix="+375 " mask="(00) 000 00 00"
                 class="input is-medium"/>
          <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
          <p *ngIf="invalidPhone" class="help is-danger has-text-left is-size-6">Обязательное поле</p>
        </div>
        <div *ngIf="isAdministration() && isActive(passenger)" class="control">
          <button class="button is-medium is-warning" (click)="getExistedUser()">
                <span class="icon is-small">
                <i class="fas fa-user-check"></i>
                </span>
          </button>
        </div>
      </div>
    </div>
    <div class="field is-horizontal is-full-mobile">
      <div class="field-label is-normal">
        <label class="label">Имя</label>
      </div>
      <div class="field-body">
        <div class="field control is-expanded has-icons-left">
          <input #name [(ngModel)]="passenger.name" (input)="processName(name.value)"
                 [ngClass]="{'is-danger': invalidName}"
                 [readOnly]="!isAdministration() && (!isActive(passenger) || !canModify(passenger))"
                 type="text" class="input is-medium"/>
          <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
          <p *ngIf="invalidName" class="help is-danger has-text-left is-size-6">Обязательное поле</p>
        </div>
        <div *ngIf="isAdmin()" class="control">
          <button class="button is-medium is-info is-light" (click)="updateUserName(name.value)"
                  [pTooltip]="'Изменить имя пользователя по-умолчанию'">
                <span class="icon is-small">
                <i class="fas fa-users"></i>
                </span>
          </button>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Количество мест</label>
      </div>
      <div class="field-body counter">
        <div class="control">
          <input [(ngModel)]="newNumberOfPlaces" [defaultValue]="1" [min]="1" [max]="maxNumberOfPlaces"
                 type="number" class="input is-medium" [readOnly]="true"/>
        </div>
        <div class="buttons are-medium has-addons ml-1 mb-1">
          <button class="button"
                  [disabled]="((!isActive(passenger) || !canModify(passenger))
                  && !isAdministration()) || isPlusButtonDisabled()"
                  (click)="newNumberOfPlaces = newNumberOfPlaces + 1">+
          </button>
          <button class="button"
                  [disabled]="newNumberOfPlaces === 1 || ((!isActive(passenger) || !canModify(passenger))
                  && !isAdministration())"
                  (click)="newNumberOfPlaces = newNumberOfPlaces - 1">-
          </button>
        </div>
      </div>
    </div>
    <article *ngIf="route.departureCity.name === 'Лунинец' && !isAdministration()" class="field message is-link has-text-left">
      <div class="message-body">
        Обращаем ваше внимание, что единственным пунктом посадки в г.Лунинец является Автостанция(АСТ).
      </div>
    </article>
    <div class="field is-horizontal is-full-mobile">
      <div class="field-label is-normal">
        <label class="label">Место посадки</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <div *ngIf="isActive(passenger) && (isAdministration() || canModify(passenger))" class="control is-expanded">
            <div class="select is-fullwidth is-medium" [ngClass]="{'is-danger': invalidDeparturePoint}">
              <select [(ngModel)]="passenger.departurePoint" [compareWith]="comparePoint">
                <option *ngFor="let point of departurePoints" [ngValue]="point">{{point.name}}</option>
              </select>
            </div>
            <p *ngIf="invalidDeparturePoint" class="help is-danger has-text-left is-size-6">Обязательное поле</p>
          </div>
          <div
            *ngIf="(!isActive(passenger) || (!canModify(passenger) && !isAdministration())) && passenger.departurePoint"
            class="control is-expanded">
            <input [ngModel]="passenger.departurePoint.name" name="name" type="text"
                   class="input is-medium"
                   [readOnly]="true"/>
          </div>
          <p *ngIf="!passenger.departurePoint" class="control">
            <a class="button is-static is-medium">
              {{route.departureDateTime | date:'HH:mm'}}
            </a>
          </p>
          <p *ngIf="passenger.departurePoint" class="control">
            <a class="button is-static is-medium">
              {{passenger.departurePoint.time}}
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal is-full-mobile">
      <div class="field-label is-normal">
        <label class="label">Место прибытия</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <div *ngIf="isActive(passenger) && (isAdministration() || canModify(passenger))" class="control is-expanded">
            <div class="select is-fullwidth is-medium"
                 [ngClass]="{'is-danger': invalidArrivalPoint}">
              <select [(ngModel)]="passenger.arrivalPoint" [compareWith]="comparePoint">
                <option *ngFor="let point of arrivalPoints" [ngValue]="point">{{point.name}}</option>
              </select>
            </div>
            <p *ngIf="invalidArrivalPoint" class="help is-danger has-text-left is-size-6">Обязательное поле</p>
          </div>
          <div
            *ngIf="(!isActive(passenger) || (!canModify(passenger) && !isAdministration())) && passenger.arrivalPoint"
            class="control is-expanded">
            <input [ngModel]="passenger.arrivalPoint.name" name="name" type="text"
                   class="input is-medium"
                   [readOnly]="true"/>
          </div>
          <p *ngIf="!passenger.arrivalPoint" class="control">
            <a class="button is-static is-medium">
              {{defaultArrivalTime}}
            </a>
          </p>
          <p *ngIf="passenger.arrivalPoint" class="control">
            <a class="button is-static is-medium">
              {{passenger.arrivalPoint.time}}
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal is-full-mobile">
      <div class="field-label is-normal">
        <label class="label">Комментарий к заказу</label>
      </div>
      <div class="field-body">
        <div class="field control is-expanded">
              <textarea class="textarea has-fixed-size" [cols]="30" [(ngModel)]="passenger.comment"
                        [readOnly]="!isAdministration() && (!isActive(passenger) || !canModify(passenger))">
              </textarea>
        </div>
      </div>
    </div>
    <div *ngIf="isAdministration() && passenger.creationDate" class="sub-info label">
      <p *ngIf="passenger.dispatcherName">Диспетчер: {{passenger.dispatcherName}}</p>
      <p>Дата записи: {{passenger.creationDate | date: 'dd.MM.yyyy'}}</p>
    </div>
  </div>
</div>
<div *ngIf="passengerExists" class="icon-text columns is-centered">
        <span class="icon has-text-warning">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
  <span *ngIf="isAdministration()">
    Пассажир уже записан на рейс выбранной даты и направления.
  </span>
  <span *ngIf="!isAdministration()">
    Вы уже записаны на рейс выбранной даты и направления. Изменить данные можно в
    <a class="link" href [routerLink]="['/personal/orders']">Личном кабинете</a>.
  </span>
</div>
<div *ngIf="invalidName || invalidPhone || invalidArrivalPoint || invalidDeparturePoint"
     class="icon-text columns is-centered">
        <span class="icon has-text-danger">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
  Пожалуйста, заполните обязательные поля выше.
</div>
<div *ngIf="isAdministration() && passenger.user && passenger.user.blockedTill"
     class="icon-text columns is-centered">
  <span class="icon has-text-danger">
    <i class="fas fa-exclamation-triangle"></i>
  </span>
  <span>
    Пассажир заблокирован до {{passenger.user.blockedTill | date: 'dd.MM.yyyy'}}.
  </span>
</div>
<div *ngIf="user && (canModify(passenger) && isActive(passenger) || isAdministration())"
     class="columns is-centered">
  <div class="column">
    <div class="control is-horizontal column is-full-mobile has-text-centered">
      <button *ngIf="!existedPassengerId" type="submit"
              class="button is-warning is-medium is-fullwidth-mobile" (click)="saveChanges()">
        <p *ngIf="!passenger.id">Забронировать</p>
        <p *ngIf="passenger.id">Сохранить изменения</p>
      </button>
      <button *ngIf="existedPassengerId && isAdministration()" type="submit"
              class="button is-warning is-medium is-fullwidth-mobile" (click)="reorder()">
        <p>Перенести бронь</p>
      </button>
    </div>
  </div>
  <div *ngIf="isAdministration()" class="column">
    <div class="control is-horizontal column is-full-mobile has-text-centered">
      <button type="submit"
              class="button is-warning is-outlined is-medium is-fullwidth-mobile" (click)="cancel()">
        <p>Отмена</p>
      </button>
    </div>
  </div>
</div>
<div *ngIf="user && (!isActive(passenger) || !canModify(passenger)) && !isAdministration()"
     class="columns is-centered">
  <div class="column has-text-centered">
    <p *ngIf="!canModify(passenger)">
        <span class="icon has-text-warning">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      Для внесения изменений обратитесь к диспетчеру.</p>
    <div class="control is-horizontal column is-full-mobile has-text-centered">
      <button type="submit"
              class="button is-warning is-outlined is-medium is-fullwidth-mobile" (click)="cancel()">
        <p>Закрыть</p>
      </button>
    </div>
  </div>
</div>
