#header {
    padding-left: 4vw;
    padding-right: 4vw;
}

.navbar {
    background-color: transparent;
}

.navbar-burger {
    height: auto;
}

.navbar-item, .navbar-link {
    color: var(--navbar-item-color);
}

.navbar-item:hover, .navbar-link:hover {
    color: var(--dark-navbar-item-hover-color);
}

.navbar-item:focus, .navbar-link:focus {
    color: var(--dark-navbar-item-focus-color);
}

.navbar-dropdown .navbar-item {
    color: var(--navbar-item-color);
}

.navbar-dropdown .navbar-item:hover {
    color: var(--dark-navbar-item-hover-color);
}

.has-dropdown:hover {
    color: var(--navbar-item-color);
}

.fa-phone {
    margin-right: 3px;
    color: var(--navbar-item-color);
}

.phone:hover {
    color: var(--dark-navbar-item-hover-color);
}

.phone:focus {
    color: var(--dark-navbar-item-focus-color);
}

.button {
    background-color: #f6ebd8;
    color: #1b1b1b;
    border: #1b1b1b 3px solid;
    border-radius: 30px;
    font-weight: bolder;
    transition: .2s ease-in-out 0s;
}

.button:hover {
    border-color: var(--dark-navbar-item-hover-color);
}

.dark-theme .navbar-burger {
    color: var(--dark-navbar-burger-color);
}

.dark-theme .navbar-item, .dark-theme .navbar-link {
    color: var(--dark-navbar-item-color);
    transition: var(--dark-navbar-item-transition);
    text-shadow: 1px 3px 7px black;
}

.dark-theme .navbar-item:focus, .dark-theme .navbar-link:focus {
    color: var(--dark-navbar-item-focus-color);
}

.dark-theme .navbar-item:hover, .dark-theme .navbar-link:hover {
    color: var(--dark-navbar-item-hover-color);
}

.dark-theme .navbar-dropdown {
    background-color: var(--dark-navbar-dropdown-color);
}

.dark-theme .navbar-dropdown .navbar-item {
    color: var(--dark-navbar-item-color);
}

.dark-theme .navbar-dropdown .navbar-item:hover {
    color: var(--dark-navbar-item-hover-color);
}

@media screen and (max-width: 1024px), print {
    .dark-theme .navbar-menu {
        background-color: var(--dark-navbar-dropdown-color);
    }

    .navbar-link:hover {
        cursor: default;
    }

    .navbar-item {
        color: var(--navbar-item-color);
    }

    .navbar-item:hover {
        color: var(--dark-navbar-item-hover-color);
    }

    .has-dropdown:hover {
        color: var(--navbar-item-color);
    }

    .dark-theme .navbar-item {
        color: var(--dark-navbar-item-color);
    }

    .navbar-item:hover .has-dropdown {
        color: var(--dark-navbar-item-hover-color);
    }

    .dark-theme .navbar-item:hover, .dark-theme .navbar-link:hover {
        background-color: #3b3b3b;
    }

}

@media screen and (min-width: 1024px), print {

    .navbar-dropdown a.navbar-item:hover {
        color: var(--dark-navbar-item-hover-color);
    }
}
