<nav id="header" class="navbar is-transparent is-spaced" role="navigation" aria-label="dropdown navigation"
     [ngClass]="{ 'dark-theme': isDarkTheme}">
    <div class="navbar-brand">
        <h1 [hidden]="true">Маршрутка Лунинец - Минск</h1>
        <a href="/">
            <img *ngIf="!isDarkTheme" src="/assets/img/logo-small-transparent.png" width="260" height="72"
                 alt="LUNINIECBUS">
            <img *ngIf="isDarkTheme" src="/assets/img/logo-transparent.png" width="260" height="62" alt="LUNINIECBUS">
        </a>

        <div [ngClass]="{ 'is-active': isMenuVisible}"
             class="navbar-burger burger" data-target="navbarMenu" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div [ngClass]="{ 'is-active': isMenuVisible}" id="navbarMenu" class="navbar-menu">

        <div class="navbar-end">

            <a href="tel:+375296431119" class="navbar-item is-uppercase phone" (click)="onCallClicked()">
                <i class="fas fa-phone"></i>
                Звонок
            </a>

            <a class="navbar-item is-uppercase" [routerLink]="['/']" (click)="toggleMenu()">
                Забронировать
            </a>

            <a class="navbar-item is-uppercase" [routerLink]="['/schedule']" (click)="toggleMenu()">
                Расписание
            </a>

            <a class="navbar-item is-uppercase" [routerLink]="['/help']" (click)="toggleMenu()">
                Вопросы и ответы
            </a>
            <hr class="navbar-divider">

            <div *ngIf="userExists()" class="navbar-item is-hoverable is-uppercase has-dropdown">
                <span *ngIf="!isDarkTheme" class="navbar-link is-arrowless">
                    Личный кабинет
                </span>
                <span *ngIf="isDarkTheme" class="navbar-link is-arrowless">
                    Личный кабинет
                </span>
                <div class="navbar-dropdown is-right is-boxed">
                    <a class="navbar-item" href [routerLink]="['/personal/orders']" (click)="toggleMenu()">
                        Мои заказы
                    </a>
                    <a class="navbar-item" href [routerLink]="['/personal/profile']" (click)="toggleMenu()">
                        Личные данные
                    </a>
                    <a *ngIf="isDispatcher(user) || isAdmin(user)" class="navbar-item" href
                       [routerLink]="['/dispatcher']"
                       (click)="toggleMenu()">
                        Панель диспетчера
                    </a>
                    <a *ngIf="isAdmin(user)" class="navbar-item" href [routerLink]="['/admin']" (click)="toggleMenu()">
                        Панель администратора
                    </a>
                    <a *ngIf="isAdmin(user)" class="navbar-item" href [routerLink]="['/statistics']"
                       (click)="toggleMenu()">
                        Статистика
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href (click)="logout()">
                        <i class="fas fa-sign-out-alt"></i>&nbsp;Выход
                    </a>
                </div>
            </div>
            <div *ngIf="!userExists()">
                <a *ngIf="!isDarkTheme" href class="is-uppercase navbar-item" [routerLink]="['/login']"
                   (click)="toggleMenu()">
                    Личный кабинет
                </a>
                <a *ngIf="isDarkTheme" href class="is-uppercase"
                   [ngClass]="{ 'button': !isMenuVisible, 'navbar-item': isMenuVisible}"
                   [routerLink]="['/login']"
                   (click)="toggleMenu()">
                    Личный кабинет
                </a>
            </div>
        </div>
    </div>
</nav>
