<div class="columns is-centered m-0">
  <div class="column is-four-fifths is-full-touch p-0">
    <div class="columns m-0">
      <div class="column is-fullwidth p-0">
        <full-calendar #calendar [options]="options"></full-calendar>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!!selectedDate && !!selectedDriverId" class="modal" [ngClass]="{ 'is-active' : isEditDialogActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p
        class="modal-card-title">{{selectedDate | date:'dd.MM.yy'}} {{getDriverName(selectedDriverId)}}</p>
      <button class="delete" aria-label="close" (click)="toggleEditDialog()"></button>
    </header>
    <section class="modal-card-body">
        <input type="checkbox" id="activeSwitch" name="switchRoundedOutlinedWarning" [(ngModel)]="isSelectedOnRepair"
               class="switch is-rounded" checked="checked" (click)="toggleOnRepair()">
      <label for="activeSwitch" class="checkbox block">Ремонтный день</label>
      <div class="block">
        Отправление из Лунинца:
        <div class="select is-fullwidth">
          <select name="departureRoute"
                  [ngModel]="selectedDepartureRouteId"
                  (change)="updateDepartureRouteDriver( !!$event.target.value ? $event.target.value : selectedDepartureRouteId,
                  !!$event.target.value ? selectedDriverId : null)" [disabled]="isSelectedOnRepair">
            <option [value]="''">Рейс не выбран</option>
            <option *ngFor="let route of getRoutes(selectedDate, DEPARTURE_CITY_NAME)"
                    [value]="route.id">{{route.departureDateTime | date: 'HH:mm'}}</option>
          </select>
        </div>
      </div>
      <div class="block">
        Отправление из Минска:
        <div class="select is-fullwidth">
          <select name="arrivalRoute"
                  [ngModel]="selectedArrivalRouteId"
                  (change)="updateArrivalRouteDriver(!!$event.target.value ? $event.target.value : selectedArrivalRouteId,
                  !!$event.target.value ? selectedDriverId : null)" [disabled]="isSelectedOnRepair">
            <option [value]="''">Рейс не выбран</option>
            <option *ngFor="let route of getRoutes(selectedDate, ARRIVAL_CITY_NAME)"
                    [value]="route.id">{{route.departureDateTime | date: 'HH:mm'}}</option>
          </select>
        </div>
      </div>
    </section>
  </div>
</div>
