<div class="section pt-0 pb-0">
    <div class="container">
        <div class="columns is-centered mr-0 ml-0">
            <div class="column is-two-thirds-desktop is-full-touch has-text-centered p-0">
                <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-3-desktop is-size-6-touch">Политика
                    конфиденциальности</h1>
                <div style="overflow:scroll !important; -webkit-overflow-scrolling:touch !important;">
                    <iframe src="/assets/docs/Privacy.pdf#zoom=100&toolbar=0&embedded=true" [height]="500">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
