<div class="section pt-0 pb-0">
  <div class="container">
    <div *ngIf="user" class="columns is-centered m-0">
      <div id="tabs" class="tabs is-centered is-boxed column is-flex is-three-quarters is-full-touch">
        <ul>
          <li *ngIf="isAdmin" [ngClass]="{'is-active': isRoutes}" class="is-active">
            <a (click)="toggleRoutes()">
              <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
              <span>Управление рейсами</span>
            </a>
          </li>
          <li *ngIf="isAdmin" [ngClass]="{'is-active': isSchedule}" class="is-active">
            <a (click)="toggleSchedule()">
              <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
              <span>Расписание</span>
            </a>
          </li>
          <li *ngIf="isAdmin" [ngClass]="{'is-active': isStaff}" class="is-active">
            <a (click)="toggleDispatchers()">
              <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
              <span>Управление персоналом</span>
            </a>
          </li>
          <li *ngIf="isAdmin" [ngClass]="{'is-active': isStaffSchedule}" class="is-active">
            <a (click)="toggleStaffSchedule()">
              <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
              <span>Расписание водителей</span>
            </a>
          </li>
          <li *ngIf="isAdmin" [ngClass]="{'is-active': isBuses}" class="is-active">
            <a (click)="toggleBuses()">
              <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
              <span>Управление автобусами</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isRoutes" class="columns is-centered m-0">
      <div class="column">
        <app-routes></app-routes>
      </div>
    </div>
    <div *ngIf="isSchedule" class="columns is-centered m-0">
      <div class="column">
        <app-schedule></app-schedule>
      </div>
    </div>
    <div *ngIf="isStaff" class="columns is-centered m-0">
      <div class="column">
        <app-staff></app-staff>
      </div>
    </div>
    <div *ngIf="isStaffSchedule" class="columns is-centered m-0">
      <div class="column">
        <app-staff-schedule></app-staff-schedule>
      </div>
    </div>
    <div *ngIf="isBuses" class="columns is-centered m-0">
      <div class="column">
        <app-buses></app-buses>
      </div>
    </div>
  </div>
</div>
