<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column has-text-grey is-size-5">
        <a class="grey-link" href [routerLink]="['/help']">
          <i class="fas fa-arrow-left"></i> Вернуться назад
        </a>
      </div>
      <div class="column is-two-thirds-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-4-desktop is-size-5-touch">
          Я забронировал место, где найти информацию о
          брони?</h1>
        <ol>
          <li>Авторизуйтесь в системе через <a href="https://luniniecbus.by/#/login">Личный кабинет</a>.
            (Если не были авторизованы ранее.)
          </li>
          <li>Перейдите на страницу <a href="https://luniniecbus.by/#/personal/orders">"Мои заказы"</a>
            через меню Личного кабинета.
            <br>
            На открывшейся странице отображается вся история заказов.
            <div class="has-text-centered">
              <img src="/assets/img/orders.png" alt="Orders">
            </div>
          </li>
          <li>Нажмите кнопку "Детали" выбранного заказа.
          </li>
          <li>В отображенном окне будет доступна актуальная информация о заказе.
            <div class="has-text-centered">
              <img src="/assets/img/editing-form.png" alt="Order info">
            </div>
          </li>
        </ol>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
