<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column has-text-grey is-size-5">
        <a class="grey-link" href [routerLink]="['/help']">
          <i class="fas fa-arrow-left"></i> Вернуться назад
        </a>
      </div>
      <div class="column is-two-thirds-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-4-desktop is-size-5-touch">
          Как добавить пароль для входа?</h1>
        <ol>
          <li>Авторизуйтесь в системе через <a href="https://luniniecbus.by/#/login">Личный кабинет</a>.
            (Если не были авторизованы ранее.)
          </li>
          <li>Перейдите на страницу <a href="https://luniniecbus.by/#/personal/orders">"Личные данные"</a>
            через меню Личного кабинета.
            <div class="has-text-centered">
              <img src="/assets/img/user-info.png" alt="User info">
            </div>
          </li>
          <li>
            Введите новый пароль в поле "Пароль".
            <br>
            Основные требования к паролю: не менее 8 символов.
            <br>
            Для того, чтобы изменить существующий пароль, введите новое значение в поле.
            Для сохранения изменений нажмите на кнопку "Сохранить изменения".
            <br>
            Если Вы все сделали корректно, то увидите следующее сообщение:
            <div class="has-text-centered">
              <img src="/assets/img/success-edit-info-message.png" alt="Success password change message">
            </div>
          </li>
        </ol>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
