<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column has-text-grey is-size-5">
        <a class="grey-link" href [routerLink]="['/help']">
          <i class="fas fa-arrow-left"></i> Вернуться назад
        </a>
      </div>
      <div class="column is-two-thirds-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-4-desktop is-size-5-touch">
          Нужно ли подтверждать бронь?</h1>
        <p>
          <b>Да, подтверждать бронь нужно.</b>
          <br>
          Для онлайн-бронирования действуют те же правила, что и при бронировании по телефону.
          <b>За сутки до рейса</b> пассажиру следует подтвердить бронь на странице <a href="https://luniniecbus.by/#/personal/orders">"Мои заказы"</a>,
          с помощью звонка или СМС на номер
          <a href="tel:+375296431119">диспетчерской службы</a>.
          <b>В случае отсутствия подтверждения</b> с пассажиром будет связываться диспетчер по указанному номеру.
          После нескольких неуспешных попыток связи с пассажиром бронь будет отменена.
        </p>
        <article class="message is-warning has-text-left mt-2">
          <div class="message-body">
            <i class="fas fa-exclamation-triangle"></i> В выходные дни возможны трудности со связью с диспетчерской
            службой в связи с большим потоком входящих звонков.
            <br>
            В таком случае убедительно просим пассажиров использовать функцию онлайн-подтверждения или СМС с обязательным указанием
            рейса и указанного ранее номера для связи.
          </div>
        </article>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
