<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column has-text-grey is-size-5">
        <a class="grey-link" href [routerLink]="['/help']">
          <i class="fas fa-arrow-left"></i> Вернуться назад
        </a>
      </div>
      <div class="column is-two-thirds-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-4-desktop is-size-5-touch">
          Как отменить бронь?</h1>
        <ol>
          <li>Авторизуйтесь в системе через <a href="https://luniniecbus.by/#/login">Личный кабинет</a>
            (Если не были авторизованы ранее).
          </li>
          <li>Перейдите на страницу <a href="https://luniniecbus.by/#/personal/orders">"Мои заказы"</a>
            через меню Личного кабинета.
            <div class="has-text-centered">
              <img src="/assets/img/orders.png" alt="Orders">
            </div>
          </li>
          <li>Нажмите кнопку "Отменить" нужного заказа.
            <article class="message is-warning has-text-left mt-2">
              <div class="message-body">
                <i class="fas fa-exclamation-triangle"></i>
                Отмена бронирования доступна не позднее 1ч до времени отправления.
                <br>
                Менее чем за 1 час до отправления отменить бронирование можно с помощью звонка по номеру
                <a href="tel:+375296431119">диспетчерской службы</a>.
              </div>
            </article>
          </li>
          <li>Нажмите на кнопку "Да" для отмены бронирования.
            <div class="has-text-centered">
              <img src="/assets/img/deletion-confirm.png" alt="Deletion confirm">
            </div>
            Если отмена прошла успешно, Вы увидите следующее сообщение:
            <div class="has-text-centered">
              <img src="/assets/img/success-delete-message.png" alt="Success booking message">
            </div>
          </li>
        </ol>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
