:host ::ng-deep .p-dialog-content {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-dialog-footer {
  text-align: center;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(217, 245, 246);
  overflow: hidden;
  z-index: -100;
}

.background span {
  width: 80vmin;
  height: 80vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 22s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -100;
}


.background span:nth-child(0) {
  color: rgb(7, 190, 184, 0.7);
  top: 50%;
  left: 54%;
  animation-duration: 259s;
  transform-origin: -10vw -12vh;
  box-shadow: -100vmin 0 12.87868608131504vmin currentColor;
}

.background span:nth-child(1) {
  color: rgb(61, 204, 199, 0.7);
  top: 44%;
  left: 19%;
  animation-duration: 79s;
  transform-origin: 15vw -20vh;
  box-shadow: -100vmin 0 13.408037688136385vmin currentColor;
}

.background span:nth-child(2) {
  color: rgb(104, 216, 214, 0.8);
  top: 50%;
  left: 25%;
  animation-duration: 233s;
  transform-origin: -15vw 1vh;
  box-shadow: -100vmin 0 12.934560878399116vmin currentColor;
}

.background span:nth-child(3) {
  color: rgb(156, 234, 239, 0.7);
  top: 70%;
  left: 60%;
  animation-duration: 133s;
  transform-origin: -23vw 3vh;
  box-shadow: -100vmin 0 12.606983017300873vmin currentColor;
}

.background span:nth-child(4) {
  color: rgb(61, 204, 199, 0.7);
  top: 2%;
  left: 11%;
  animation-duration: 399s;
  transform-origin: +9vw -16vh;
  box-shadow: 100vmin 0 13.465483849960476vmin currentColor;
}

.page {
  min-height: 80%;
}

.page-wrapper {
  overflow: hidden;
  width: 100%;
}

.section-hero {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #2f2f2f;
  min-height: 600px;
}

.section-hero.img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.stars {
  position: absolute;
  left: -27.5em;
  top: 3.7em;
  right: auto;
  bottom: auto;
  width: 150.18875em;
  max-width: none;
}

.rainbow-r {
  position: absolute;
  left: auto;
  top: -32.4em;
  right: -11.8em;
  bottom: auto;
  width: 73.5625em;
}

.rainbow-l {
  position: absolute;
  left: -34.5em;
  top: 8em;
  right: auto;
  bottom: -22.8em;
  width: 124.9375em;
  height: 47em;
  max-width: none;
  z-index: 2;
}

.white-background {
  background-color: #f6ebd8;
}

@media screen and (max-width: 767px), print {
  .stars {
    left: -51.7em;
    width: 150em;
    object-fit: cover;
  }

  .rainbow-r {
    top: -35em;
    right: -29.7em;
    width: 84em;
  }

  .rainbow-l {
    position: absolute;
    z-index: -1;
    left: -34.3em;
    bottom: -28.2em;
    width: 106em;
  }
}

@media screen and (max-width: 479px), print {
  .stars {
    width: 122em;
  }

  .rainbow-r {
    object-fit: cover;
    top: -15.5em;
    right: -12.6em;
    width: 36em;
    max-width: none;
  }

  .rainbow-l {
    left: -11.3em;
    width: 43em;
    top: 17em;
    }

}
