<div [ngClass]="{'page-wrapper': isBlackBackgroundVisible}">
  <div class="page" [ngClass]="{'section-hero': isBlackBackgroundVisible}">
    <div *ngIf="isBlackBackgroundVisible">
      <img
        src="https://assets.website-files.com/630f88193cbc64052ccdfc7c/6310d0b253e99e20f225bf71_hero-rainbow-top-right.svg"
        loading="eager" alt="" class="rainbow-r">
      <img src="https://assets.website-files.com/630f88193cbc64052ccdfc7c/6335b9a4a8bba4e5144f8016_hero-stars.svg"
           loading="lazy" alt="" class="stars">
      <img
        src="https://assets.website-files.com/630f88193cbc64052ccdfc7c/631112a0d284d7507300b984_hero-rainbow-bottom-left.svg"
        loading="eager" alt="" class="rainbow-l">
    </div>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <div [ngClass]="{'white-background': isBlackBackgroundVisible}">
    <div *ngIf="isBlackBackgroundVisible" class="section-divider">
      <img src="https://assets.website-files.com/630f88193cbc64052ccdfc7c/632e0943521b925570ea6105_divider-swoosh.svg"
           loading="lazy" alt="" class="divider">
    </div>
    <app-footer></app-footer>
  </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [closable]="false"
                 [style]="{width: '30vw'}"
                 [acceptButtonStyleClass]="'button is-warning'"
                 [rejectButtonStyleClass]="'button is-warning'"
                 [acceptLabel]="'Да'"
                 [rejectLabel]="'Нет'"></p-confirmDialog>
<div [ngClass]="{'background':isBackgroundVisible}">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
