<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered ml-0 mb-0 mt-4">
      <div class="box has-text-centered column is-half-desktop is-full-mobile">
        <div *ngIf="!user">
          <div class="field is-horizontal is-full-mobile">
            <div class="field-label is-normal">
              <label class="label">Номер телефона</label>
            </div>
            <div class="field-body">
              <div class="field control has-icons-left">
                <input [(ngModel)]="login.phone"
                       type='text' prefix="+375 " mask="(00) 000 00 00"
                       class="input is-medium" inputmode="tel" autocomplete="tel-national"
                       [disabled]="isOtpSent"/>
                <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
          </span>
              </div>
            </div>
          </div>
          <p *ngIf="isOtpView">На этот номер мы отправим SMS-сообщение с кодом подтверждения</p>
          <div *ngIf="isOtpView" class="control is-horizontal column is-full-mobile has-text-centered">
            <button *ngIf="isOtpEnabled"
                    class="button is-warning is-medium is-fullwidth-mobile"
                    (click)="sendOtp()"
                    [disabled]="isOtpSent || !login.phone || login.phone.length < 9">
              Отправить код
            </button>
            <button *ngIf="!isOtpEnabled"
                    class="button is-warning is-medium is-fullwidth-mobile"
                    (click)="sendOtp()"
                    [disabled]="true">
              Отправить код через&nbsp;
              <div class="countdown" simpleCountdown
                   (finish)="resetOtpCountdown()"
                   [dateTo]="otpCountdownEnd"
                   [styles]="'font-size: 20px; color: black;background-color: none;padding: 0 0 0 0;'"></div>
            </button>
          </div>
          <div *ngIf="!isOtpView" class="field is-horizontal is-full-mobile">
            <div class="field-label is-normal">
              <label class="label">Пароль</label>
            </div>
            <div class="field-body">
              <div class="field control has-icons-left">
                <input [(ngModel)]="login.password"
                       class="input is-medium" [type]="showPassword ? 'text' : 'password'"/>
                <span class="icon is-small is-left">
                <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                   style="pointer-events: all; cursor: pointer"
                   (click)="toggleShowPassword()">
                </i>
            </span>
              </div>
            </div>
          </div>
          <div *ngIf="isOtpSent && isOtpView">
            <div class="field is-horizontal is-full-mobile">
              <div class="field-label is-normal">
                <label class="label">Код из СМС</label>
              </div>
              <div class="field-body">
                <div class="field control">
                  <input [(ngModel)]="login.otp" (keydown.enter)="submitOtp()"
                         type="text" name="token" pattern="[0-9]{4,6}"
                         class="input is-medium" inputmode="numeric"
                         autocomplete="one-time-code"/>
                </div>
              </div>
            </div>
            <div class="control is-horizontal column is-full-mobile has-text-centered">
              <button class="button is-warning is-medium is-fullwidth-mobile"
                      (click)="submitOtp()">
                <p>Подтвердить код</p>
              </button>
            </div>
          </div>
          <div *ngIf="!isOtpView && isPasswordEnabled"
               class="control is-horizontal column is-full-mobile has-text-centered">
            <button class="button is-warning is-medium is-fullwidth-mobile"
                    (click)="loginViaPassword()">
              <p>Войти</p>
            </button>
          </div>
          <div *ngIf="!isOtpView && !isPasswordEnabled"
               class="control is-horizontal column is-full-mobile has-text-centered">
            <button class="button is-warning is-medium is-fullwidth-mobile"
                    (click)="loginViaPassword()"
                    [disabled]="true">
              Войти через&nbsp;
              <div class="countdown" simpleCountdown
                   (finish)="resetPasswordCountdown()"
                   [dateTo]="passwordCountdownEnd"
                   [styles]="'font-size: 20px; color: black;background-color: none;padding: 0 0 0 0;'"></div>
            </button>
          </div>
          <a *ngIf="isOtpView" (click)="toggleOtpView()">Войти, используя пароль</a>
          <a *ngIf="!isOtpView" (click)="toggleOtpView()">Войти, используя подтверждение по SMS</a>
        </div>
        <div *ngIf="!!user && !user.name">
          <div class="field is-horizontal is-full-mobile">
            <div class="field-label is-normal">
              <label class="label">Имя</label>
            </div>
            <div class="field-body is-align-content-center">
              <div class="field control is-expanded has-icons-left">
                <input [(ngModel)]="userName" (keydown.enter)="setName()"
                       type="text"
                       class="input is-medium"/>
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
          </span>
              </div>
            </div>
          </div>
          <div class="control is-horizontal column is-full-mobile has-text-centered">
            <button class="button is-warning is-medium is-fullwidth-mobile"
                    (click)="setName()">
              <p>Сохранить</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
