.title {
  font-size: 4vw;
}

@media screen and (max-width: 479px), print {
  .title {
    font-size: 2em;
  }
}

img {
  width: 80%;
  height: 10vh;
  overflow: hidden;
}

.column {
  padding-bottom: 10px;
  padding-top: 10px;
}

img {
  opacity: var(--banner-img-opacity);
}

.title {
  color: var(--banner-title-color);
}

.info {
  background-color: transparent;
  font-size: 1.1rem;
  color: #ff9e1c;
}
