<section class="columns m-0 mt-3 mb-1 is-centered">
    <div class="column is-half-desktop is-full-mobile has-text-centered">
        <img src="/assets/img/city.png">
        <div class="container title">
            <h1 class="is-uppercase">
                Лунинец - Минск
            </h1>
            <div class="box info">С 25.12.2024 стоимость поездки по маршруту Лунинец - Минск - 28р (Микашевичи - Минск -
                23р)
            </div>
        </div>
    </div>
</section>
