<div class="columns is-centered m-0">
  <div class="column is-full-mobile is-four-fifths is-flex is-justify-content-space-between">
    <button class="button is-primary mr-2" (click)="addNewStaff()">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      <span>Добавить</span>
    </button>
  </div>
</div>
<div class="columns is-centered m-0">
  <div class="column is-full-mobile is-four-fifths">
    <div class="columns is-centered has-text-centered m-0">
      <p-table [scrollable]="true" scrollHeight="600px" scrollDirection="both"
               class="table is-bordered is-striped is-narrow is-hoverable"
               dataKey="code"
               [rows]="15"
               [lazy]="true"
               [paginator]="true"
               [sortOrder]="-1"
               [rowsPerPageOptions]="[10,15,20]"
               [loading]="loading"
               [value]="staff"
               [totalRecords]="totalRecords"
               (onLazyLoad)="loadStaff($event)">
        <ng-template pTemplate="header">
          <tr class="has-background-grey-light">
            <th style="width:10px">
              №
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Имя
              </div>
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Номер телефона
              </div>
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Роль
              </div>
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Автобус
              </div>
            </th>
            <th style="width:50px">
              <div class="d-flex justify-content-between align-items-center">
                Telegram User ID
              </div>
            </th>
            <th style="width:50px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
          <tr [pEditableRow]="employee">
            <td style="width:50px">
              {{rowIndex + 1}}
            </td>
            <td style="width:50px">
              {{employee.name}}
            </td>
            <td style="width:50px">
              {{employee.phone}}
            </td>
            <td style="width:50px">
              {{employee.roles.join(', ')}}
            </td>
            <td style="width:50px">
              {{getBus(employee.id)}}
            </td>
            <td style="width:50px">
              {{employee.userId}}
            </td>
            <td style="width:50px">
              <div class="is-flex is-justify-content-end">
                <button class="button is-primary mr-1"
                        (click)="edit(employee)">
                  <span class="icon is-small">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
                <button class="button is-danger is-outlined"
                        (click)="setUserRole(employee)">
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div *ngIf="selectedUser" class="modal" [ngClass]="{ 'is-active' : isEditDialogActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p *ngIf="!!selectedUser.id" class="modal-card-title">Редактирование сотрудника</p>
      <p *ngIf="!selectedUser.id" class="modal-card-title">Добавление сотрудника</p>
      <button class="delete" aria-label="close" (click)="toggleEditDialog()"></button>
    </header>
    <section class="modal-card-body pb-3">
      <div class="field is-horizontal is-full-mobile">
        <div class="field-body">
          <div class="field control is-expanded has-icons-left">
            <input [(ngModel)]="selectedUser.phone" [readonly]="!!selectedUser.id"
                   type='text' prefix="+375 " mask="(00) 000 00 00" class="input is-medium"/>
            <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
          </div>
          <div *ngIf="!selectedUser.id" class="control">
            <button class="button is-medium is-warning" (click)="getExistedUser()">
                <span class="icon is-small">
                <i class="fas fa-user-check"></i>
                </span>
            </button>
          </div>
        </div>
      </div>
      <div class="block control is-expanded has-icons-left">
        <input [(ngModel)]="selectedUser.name" name="name" type="text"
               class="input is-medium"/>
        <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
        </span>
      </div>
      <div class="block control is-expanded">
        <input [(ngModel)]="selectedUser.userId" name="userId" type="text" id="userId"
               class="input is-medium"/>
        <label for="userId">Telegram User ID</label>
      </div>
      <div class="block control is-expanded">
        <div class="select is-fullwidth is-medium is-multiple">
          <select multiple [(ngModel)]="selectedUser.roles">
            <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="isDriver(selectedUser)" class="block control is-expanded">
        <div class="select is-fullwidth is-medium">
          <select [(ngModel)]="selectedBus">
            <option *ngFor="let bus of buses" [ngValue]="bus">{{bus.name + ' ' + bus.number}}</option>
          </select>
        </div>
      </div>
      <div class="control is-horizontal column is-full-mobile has-text-centered">
        <button type="submit"
                class="button is-warning is-medium is-fullwidth-mobile" (click)="saveChanges()">
          Сохранить изменения
        </button>
      </div>
    </section>
  </div>
</div>
