th, td {
  white-space: normal !important;
}

@media screen and (max-width: 769px), print {
  th, td {
    width: 100px !important;
  }

  .modal-card, .modal-content {
    width: auto;
    flex: none;
  }

  .modal-card-title {
    font-size: 18px;
    word-break-wrap: normal;
  }
}
