<div class="section pt-0 pb-0">
    <div class="container">
        <div class="columns is-centered mr-0 ml-0">
            <div class="column is-two-thirds is-full-mobile">
                <div class="level">
                    <p class="is-larger is-uppercase header level-left">Мои заказы:</p>
                    <div *ngIf="!!passengers" class="level-right">
                        <input type="checkbox" id="activeSwitch" name="switchRoundedOutlinedWarning"
                               [(ngModel)]="onlyActive"
                               class="switch is-rounded is-outlined" checked="checked" (click)="toggleActive()">
                        <label for="activeSwitch">Только актуальные заказы</label>
                    </div>
                </div>
                <div *ngFor="let passenger of passengers" class="box m-0 mb-4 columns p-3"
                     [ngClass]="{expired:!isActive(passenger)}">
      <span class="column info is-full-mobile is-narrow">
        {{passenger.route.departureDateTime | date:'dd.MM.yyyy  HH:mm'}}
      </span>
                    <span class="column info is-full-mobile is-narrow">
        <i class="fas fa-map-marker fa-lg"></i>
                        {{passenger.route.departureCity.name}}&nbsp;
        <span class="dots">-----</span>&nbsp;
        <i class="fas fa-map-marker-alt fa-lg"></i>
                        {{passenger.route.arrivalCity.name}}
      </span>
                    <div class="column is-full-mobile has-text-right is-vcentered">
                        <span *ngIf="passenger.route.status === 'CANCELED'" class="tag is-danger is-light is-medium">ОТМЕНЕН</span>
                        <button *ngIf="!passenger.confirmed && passenger.route.status === 'ACTIVE' && canModify(passenger) && canConfirm(passenger)"
                                class="button is-success is-outlined mb-1"
                                (click)="confirmPassenger(passenger)">
                            <span>Подтвердить</span>
                            <span class="icon is-small">
                    <i class="fas fa-check-circle fa-lg"></i>
              </span>
                        </button>
                        <button *ngIf="isActive(passenger) && passenger.route.status === 'ACTIVE' && canModify(passenger)"
                                class="button is-danger is-outlined ml-1 mb-1"
                                (click)="removePassenger(passenger)">
                            <span>Отменить</span>
                            <span class="icon is-small">
                    <i class="fas fa-trash"></i>
              </span>
                        </button>
                        <span *ngIf="isActive(passenger) && passenger.route.status === 'ACTIVE' && !canModify(passenger)"
                              pTooltip="Для отмены обратитесь к диспетчеру.">
          <button class="button is-outlined ml-1" disabled>
            <span>Отменить</span>
            <span class="icon is-small">
                    <i class="fas fa-trash"></i>
          </span>
          </button>
        </span>
                        <button class="button is-outlined ml-1"
                                (click)="showPassenger(passenger)">
                            <span>Детали</span>
                            <span class="icon is-small">
                    <i class="fas fa-bars"></i>
          </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="passengers.length === 0" class="control content is-medium column is-full-mobile has-text-centered">
            <span>Нет заказов</span>
        </div>

        <div *ngIf="!!passengers && !isAllElements" class="column">
            <div class="control is-horizontal column is-full-mobile has-text-centered">
                <button class="button is-primary is-outlined is-medium is-fullwidth-mobile"
                        (click)="loadMore()">
                    Показать еще
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="user && selectedPassenger && selectedRoute" class="modal" [ngClass]="{ 'is-active' : isEditDialogActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                {{selectedPassenger.route.departureDateTime | dateWithDay}}
                <br>
                {{selectedPassenger.route.departureCity.name}}
                <span *ngIf="selectedRoute && selectedRoute.platformNumber"> пл. № {{selectedRoute.platformNumber}}</span>&nbsp;-&nbsp;
                {{selectedPassenger.route.arrivalCity.name}}
                <br>
                <span *ngIf="selectedRoute.bus" class="has-text-weight-medium is-size-6">{{selectedRoute.bus.color + ' '
                + selectedRoute.bus.name + ' ' + selectedRoute.bus.number}}</span>
                <br *ngIf="selectedRoute.bus">
                <span *ngIf="selectedRoute.firmName" class="p-text-secondary is-size-6">{{selectedRoute.firmName + ' ' + selectedRoute.firmPhone}}</span>
            </p>
            <button class="delete" aria-label="close" (click)="toggleEditDialog()"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <app-edit-passenger-form [passengerId]="selectedPassengerId"
                                         [routeId]="passengerRouteId"
                                         (changesSubmit)="refreshPassengers()"
                                         (cancelChanges)="cancelChanges()">
                </app-edit-passenger-form>
            </div>
        </section>
    </div>
</div>
