.header {
  font-size: x-large;
}

.expired {
  background-color: #f5f5f5;
}

.box {
  border: 1px solid silver;
}

.info {
  font-weight: bolder;
  font-size: larger;
}

.fa-map-marker, .fa-map-marker-alt, .dots {
  color: #e7c03d;
}

.expired .fa-map-marker-alt, .expired .fa-map-marker, .expired .dots {
  color: gray;
}

@media screen and (max-width: 769px), print {
  .modal-card, .modal-content {
    width: auto;
    flex: auto;
  }

  .modal-card-title {
    font-size: 18px;
  }
}
