<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column is-two-thirds is-full-mobile">
        <div class="level">
          <p class="is-larger is-uppercase header level-left">Личные данные:</p>
          <div class="level-right"></div>
        </div>
        <div class="columns is-centered m-0">
          <div class="column is-two-thirds">
            <div class="field is-horizontal is-full-mobile">
              <div class="field-label is-normal">
                <label class="label">Номер телефона</label>
              </div>
              <div class="field-body">
                <div class="field control is-expanded has-icons-left">
                  <input [(ngModel)]="user.phone" name="phone" type='text' prefix="+375 " mask="(00) 000 00 00"
                         class="input is-medium" [readOnly]="true"/>
                  <span class="icon is-small is-left">
            <i class="fas fa-phone"></i>
          </span>
                </div>
              </div>
            </div>
            <div class="field is-horizontal is-full-mobile">
              <div class="field-label is-normal">
                <label class="label">Имя</label>
              </div>
              <div class="field-body">
                <div class="field control is-expanded has-icons-left">
                  <input [ngModel]="user.name" name="name" type="text" class="input is-medium"
                         #nameInput (input)="setName(nameInput.value)"/>
                  <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
                </div>
              </div>
            </div>
            <div class="field is-horizontal is-full-mobile">
              <div class="field-label is-normal">
                <label class="label">Пароль
                  <i class="fas fa-question-circle password-question-icon"
                     pTooltip="Этот пароль будет использоваться для входа в личный кабинет. Пароль должен содержать не менее 8 символов">
                  </i>
                </label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded has-icons-left">
                    <input [ngModel]="user.password" [type]="showPassword ? 'text' : 'password'"
                           name="password" class="input is-medium" [ngClass]="{'is-danger': invalidPassword}"
                           #passwordInput (input)="setPassword(passwordInput.value)"/>
                    <span class="icon is-small is-left">
                <i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                   style="pointer-events: all; cursor: pointer"
                   (click)="toggleShowPassword()"></i>
                </span>
                  </div>
                  <p *ngIf="invalidPassword" class="help is-danger">Пароль должен содержать не менее 8 символов</p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal is-full-mobile">
              <div class="field-label is-normal">

              </div>
              <div class="field-body">
                <div class="control">
                  <button class="button is-warning is-medium"
                          (click)="update()">
                    <p>Сохранить изменения</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
