li, p {
  font-size: larger;
  padding: 3px;
  font-family: inherit;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #dee0e1;
}

@media screen and (min-width: 769px), print {
  img {
    max-width: 500px;
  }
}

a {
  color: #1561ae;
}

a:hover {
  color: darkgoldenrod;
}

.contact {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

.grey-link {
  color: #4a4a4a;
}

.flower {
  position: fixed;
  left: auto;
  top: auto;
  right: -1.2em;
  bottom: -4em;
  z-index: 3;
  width: 23.711875em;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 479px), print {
  .flower {
    width: 10em;
    bottom: -2.5em;
    right: 13em;
  }
}
