<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered mr-0 ml-0">
      <div class="column is-one-third-desktop is-full-touch">
        <h1 class="is-uppercase pb-4 pt-4 has-text-centered contact is-size-3-desktop is-size-4-touch">Вопросы и ответы</h1>
        <ol>
          <li><a class="link" href [routerLink]="['booking']">Как забронировать место?</a></li>
          <li><a class="link" href [routerLink]="['booking-info']">Я забронировал место, где найти информацию о
            брони?</a></li>
          <li><a class="link" href [routerLink]="['booking-approval']">Нужно ли подтверждать бронь?</a></li>
          <li><a class="link" href [routerLink]="['booking-approval-how']">Как подтвердить бронирование онлайн?</a></li>
          <li><a class="link" href [routerLink]="['booking-update']">Как изменить даннные пассажира?</a></li>
          <li><a class="link" href [routerLink]="['booking-another-point']">Как добавить еще одно место посадки?</a>
          </li>
          <li><a class="link" href [routerLink]="['booking-cancel']">Как отменить бронь?</a></li>
          <li><a class="link" href [routerLink]="['info-update']">Как изменить личные данные?</a></li>
          <li><a class="link" href [routerLink]="['password']">Как добавить пароль для входа?</a></li>
          <li><a class="link" href [routerLink]="['phone']">Могу ли я не указывать / указать чужой номер телефона?</a>
          </li>
        </ol>
      </div>
    </div>
    <img src="https://assets.website-files.com/630f88193cbc64052ccdfc7c/6317a00e5a32840680e55f0f_hero-flower.svg"
           loading="eager" alt="" class="flower">
  </div>
</div>
