<div class="columns is-centered m-0">
  <div class="column is-full-mobile is-four-fifths">
    <div class="is-two-thirds">
      <p class="is-larger is-uppercase header">Статистика за период: {{statisticsStart | date:'dd.MM.yyyy'}}
        - {{statisticsEnd  | date:'dd.MM.yyyy'}}</p>
    </div>
    <div class="m-3 p-2">
      <div class="level">
        <h1 class="mt-1 mb-2 level-left">Среднее колличество пассажиров по рейсам:</h1>
        <div class="level-right">
          <input type="checkbox" id="activeSwitch" name="switchRoundedOutlinedWarning" [(ngModel)]="isDepartureData"
                 class="switch is-rounded" checked="checked" (click)="toggleData()">
          <label *ngIf="isDepartureData" for="activeSwitch">Лунинец</label>
          <label *ngIf="!isDepartureData" for="activeSwitch">Минск</label>
        </div>
      </div>
      <p-chart *ngIf="isDepartureData" #chartDeparture [hidden]="!isDepartureData" type="line" [data]="departureData"
               [options]="basicOptions"></p-chart>
      <p-chart *ngIf="!isDepartureData" #chartArrival [hidden]="isDepartureData" type="line" [data]="arrivalData"
               [options]="basicOptions"></p-chart>
    </div>
    <div class="m-3 p-2">
      <h1 class="mt-1 mb-2">Колличество пассажиров (по дате записи) записанных через диспетчера / через систему:</h1>
      <div class="mb-3">
        <p-calendar inputStyleClass="no-hover input is-warning"
                    [(ngModel)]="selectedDatesByCreationDateStat" [firstDayOfWeek]="1" [selectionMode]="'range'"
                    [readonlyInput]="true" [showButtonBar]="true" [showOtherMonths]="true"
                    [selectOtherMonths]="true"
                    dateFormat="dd.mm.yy" placeholder="дд.мм.гггг">
        </p-calendar>
        <button type="submit"
                class="button is-warning is-fullwidth-mobile" (click)="loadStatisticsByCreationDate()">
          Получить
        </button>
      </div>
      <p-chart #chartCountByCreationDate type="doughnut" [data]="passengersCountDataByCreationDate"
               [options]="chartOptions"
               [style]="{'width': '40%'}"></p-chart>
    </div>
    <div class="m-3 p-2">
      <h1 class="mt-1 mb-2">Колличество пассажиров (по дате рейса) записанных через диспетчера / через систему:</h1>
      <div class="mb-3">
        <p-calendar inputStyleClass="no-hover input is-warning"
                    [(ngModel)]="selectedDatesByRouteDateStat" [firstDayOfWeek]="1" [selectionMode]="'range'"
                    [readonlyInput]="true" [showButtonBar]="true" [showOtherMonths]="true"
                    [selectOtherMonths]="true"
                    dateFormat="dd.mm.yy" placeholder="дд.мм.гггг">
        </p-calendar>
        <button type="submit"
                class="button is-warning is-fullwidth-mobile" (click)="loadStatisticsByRouteDate()">
          Получить
        </button>
      </div>
      <p-chart #chartCountByRouteDate type="doughnut" [data]="passengersCountDataByRouteDate" [options]="chartOptions"
               [style]="{'width': '40%'}"></p-chart>
    </div>
    <div class="m-3 p-2 level">
      <div class="level-left is-block-desktop">
        <h1 class="mt-1 mb-2">Колличество пассажиров перевезенных водителем:</h1>
        <div *ngFor="let it of driversStatistics">
          <b>{{it.driverName}}</b> - {{it.passengersCount}}
        </div>
      </div>
      <div class="secret-cat level-right"></div>
    </div>
  </div>
</div>
