.header {
  font-size: x-large;
}

.secret-cat {
  border-radius: 50%;
  background-image: url("/../../../../../assets/img/secret_cat.jpeg");
  background-size: cover;
  height: 200px;
  width: 200px;
}

p-chart {
  display: block;
}
