.columns {
  margin-top: 0;
}

.box {
  margin: 0 10px 10px 10px;
  font-size: smaller;
  z-index: 50;
}

.results {
  z-index: 9;
}

.p-calendar {
  z-index: 50 !important;
}

h1 {
  color: lightgray;
  font-size: xx-large;
  font-weight: bold;
}

.label {
  padding-top: 7px;
  font-size: 20px;
}

.freePlaces {
  color: gray;
}

.title {
  margin-bottom: 15px;
}

.selected {
  border: #e7c03d solid 2px;
}

button {
  background-color: #ff9f1c;
}

:host ::ng-deep.p-inputtext, select {
  border-radius: 30px;
  border: 2px solid #ffdd57;
}

:host ::ng-deep.p-inputtext:enabled:hover {
  border-color: #ffdd57;
}

.form {
  margin-top: 10px;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
  background: #fffefe;
  box-shadow: 4px 4px 20px 1px #dee0e1, -10px -8px 20px white;
}

.disabled {
  pointer-events: none;
}

.disabled .title {
  color: gray;
}

@media screen and (min-width: 769px) and (max-width: 1215px) , print {
  .column.is-three-quarters, .column.is-three-quarters-tablet {
    flex: none;
    width: 90%;
  }
}
