<div class="section pt-0 pb-0">
  <div class="container">
    <div class="columns is-centered">
      <div class="box form column is-full-mobile is-three-quarters">
        <div class="columns is-centered has-text-centered m-0">
          <div class="column is-full-mobile is-one-third">
            <div class="field is-horizontal is-fullwidth">
              <div class="field-label is-normal">
                <label class="label is-uppercase">Откуда</label>
              </div>
              <div class="field-body">
                <div class="control is-expanded">
                  <div class="select is-fullwidth is-warning is-medium is-rounded">
                    <select [(ngModel)]="departurePoint" [compareWith]="compareCity"
                            [style]="{'width':'100%'}" (change)="clearData()">
                      <option *ngFor="let point of cities" [ngValue]="point">{{point.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal column is-full-mobile is-one-third">
            <div class="field-label is-normal">
              <label class="label is-uppercase">Когда</label>
            </div>
            <div class="field-body">
              <div class="control is-expanded">
                <p-calendar inputStyleClass="no-hover input is-warning is-medium"
                            [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" [firstDayOfWeek]="1"
                            [readonlyInput]="true" [showButtonBar]="true" [showOtherMonths]="true" (onSelect)="clearData()"
                            [selectOtherMonths]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                            dateFormat="dd.mm.yy" placeholder="дд.мм.гггг">
                </p-calendar>
              </div>
            </div>
          </div>

          <div class="control is-horizontal column is-full-mobile is-one-third">
            <button type="submit"
                    class="button is-medium is-fullwidth is-rounded is-uppercase" (click)="getRoutes()"><p>Найти</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section pb-0 pt-4">
  <div class="container results">
    <div *ngIf="!user || !isAdministration(user)" class="columns is-centered m-0">
      <div class="column is-full-mobile is-two-thirds">
        <div class="columns is-centered is-multiline ml-0 mr-0">
          <a *ngFor="let route of searchedRoutes"
             [ngClass]="{selected:isSelected(route) && isActive(route), disabled:!isActive(route)}"
             (click)="toggleBookingForm(route)"
             class="box column is-one-fifth is-full-mobile has-text-centered ml-0">
            <p class="title">{{route.departureDateTime | date:'HH:mm'}}</p>
            <p class="is-small freePlaces">Свободных мест: {{route.freePlaces}}</p>
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="user && isAdministration(user)" class="columns is-centered m-0">
      <div class="column is-full-mobile is-two-thirds">
        <div class="columns is-centered is-multiline ml-0 mr-0">
          <a *ngFor="let route of searchedRoutes" [ngClass]="{selected:isSelected(route)}"
             class="box column is-one-fifth is-full-mobile has-text-centered ml-0"
             (click)="openRoutePassengers(route)">
            <p class="title">{{route.departureDateTime | date: 'HH:mm'}}</p>
            <p class="is-small freePlaces">Свободных мест: {{route.freePlaces}}</p>
          </a>
        </div>
      </div>
    </div>
<!--     TODO revert this (this is done to accept passengers to book all 15 places)-->
    <div class="columns is-centered is-full-mobile has-text-centered m-0">
      <div class="column is-two-thirds">
        <app-booking-form *ngIf="isBookingForm && selectedRoute.freePlaces > 0" [route]="selectedRoute">
        </app-booking-form>
        <!--<app-booking-form *ngIf="isBookingForm && selectedRoute.freePlaces > 2" [route]="selectedRoute">
        </app-booking-form>
        <p *ngIf="isBookingForm && selectedRoute.freePlaces <= 2">Бронирование оставшихся мест осуществляется через
          <a href="tel:+375296431119">диспетчерскую службу</a>.</p>-->
      </div>
    </div>
  </div>
</div>
