@import '../node_modules/primeng/resources/themes/fluent-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/bulma-switch/dist/css/bulma-switch.min.css';

html,
body {
  height: 100%;
  margin: 0;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
}

p, h1, option, select, input, label, span, a {
  font-family: 'Nunito', sans-serif;
}

.bold {
  font-weight: 900;
}

a, a:hover, a:visited, a:focus {
  color: #4a4a4a;
}

p-table td {
  font-size: larger;
}


.columns {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.columns:not(:last-child) {
  margin-bottom: 0;
}

@media screen and (max-width: 769px), print {
  .p-confirm-dialog {
    width: auto !important;
  }
}

.p-table {
  width: inherit !important;
}


