.colored, :host ::ng-deep .p-calendar > .p-inputtext {
  border: 2px solid #e7c03d;
  background-color: rgb(255, 255, 0, 0.5);
}

.fa-check-circle {
  color: darkgray;
}

.is-confirmed {
  color: limegreen;
}

th, td {
  white-space: normal !important;
}

@media screen and (max-width: 769px), print {
  th, td {
    width: 100px !important;
  }

  .modal-card, .modal-content {
    width: auto;
    flex: auto;
  }

  .modal-card-title {
    font-size: 18px;
    word-break-wrap: normal;
  }
}
