<div class="columns is-centered m-0">
  <div class="column is-full-touch is-four-fifths-desktop is-flex-desktop is-justify-content-space-between pl-0 pr-0">
    <div *ngIf="route" class="column is-one-quarter-desktop is-full-touch">
      <div class="block">
      <textarea #notes class="textarea" [ngModel]="route.notes" [placeholder]="'Заметки'"
                (keydown.enter)="updateRouteNotes(route, notes.value)"
                [disabled]="!isRouteActive()"></textarea>
      </div>
    </div>
    <div *ngIf="route" class="column is-one-quarter-desktop is-full-touch">
      <div class="block">
        <input #waybillInput class="input" [ngModel]="route.waybillNumber" [placeholder]="'Номер путевого'"
               (keydown.enter)="updateWaybillNumber(route, waybillInput.value)"
               [disabled]="!isRouteActive()"/>
      </div>
      <div class="select block">
        <select [(ngModel)]="route.driver" (change)="updateDriver(route)" [disabled]="!isRouteActive()"
                [compareWith]="compareDrivers">
          <option *ngIf="route.driver === null" [ngValue]="null">Водитель</option>
          <option *ngFor="let driver of drivers" [ngValue]="driver">{{driver.name}}</option>
        </select>
      </div>
      <div class="block select">
        <select [(ngModel)]="route.bus" (change)="updateBus(route)" [disabled]="!isRouteActive()"
                [compareWith]="compareBuses">
          <option *ngIf="route.bus === null" [ngValue]="null">Автобус</option>
          <option *ngFor="let bus of buses" [ngValue]="bus">{{bus.color + ' ' + bus.name + ' ' + bus.number}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="route" class="column is-one-quarter-desktop is-full-touch">
      <p class="is-bold title is-4">
        {{route.departureCity.name}} - {{route.arrivalCity.name}}
        <br>
        {{route.departureDateTime | dateWithDay}}
        <span *ngIf="route.platformNumber"> пл. № {{route.platformNumber}}</span>
      </p>
    </div>
    <button *ngIf="!currentRouteId" class="button is-primary mr-2" (click)="addNewPassenger()">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      <span>Добавить</span>
    </button>
    <button *ngIf="route" class="button is-primary mr-2"
            (click)="addNewPassenger()"
            [disabled]="!isRouteActive() || !freePlacesLeft()">
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
      <span>Добавить</span>
    </button>
    <button *ngIf="currentRouteId" class="button is-light" (click)="showAllPassengers()">Все пассажиры</button>
    <div *ngIf="!currentRouteId">
      <input type="checkbox" id="activeSwitch" name="switchRoundedOutlinedWarning" [(ngModel)]="onlyActive"
             class="switch is-rounded" checked="checked" (click)="toggleActive()">
      <label for="activeSwitch">Только актуальные записи</label>
    </div>
  </div>
</div>
<div class="columns is-centered m-0">
  <div class="column is-full-touch is-four-fifths-desktop">
    <div class="columns is-centered has-text-centered m-0">
      <p-table class="table is-bordered is-striped is-narrow is-hoverable"
               dataKey="code"
               [scrollable]="true" scrollHeight="600px" scrollDirection="both"
               [resizableColumns]="true"
               [rows]="15"
               [lazy]="true"
               [paginator]="true"
               [sortOrder]="-1"
               [rowsPerPageOptions]="[10,15,20]"
               [loading]="loading"
               [value]="passengers"
               [totalRecords]="totalRecords"
               (onLazyLoad)="loadPassengers($event)">
        <ng-template pTemplate="header">
          <tr class="has-background-grey-light">
            <th style="width:10px">
              №
            </th>
            <th style="width:50px" [hidden]="route" pSortableColumn="route.date">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Дата
                  <p-sortIcon field="route.date"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:40px" [hidden]="route" pSortableColumn="route.schedule.time">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Время отправления
                  <p-sortIcon field="route.departureTime"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" [hidden]="route" pSortableColumn="route.schedule.departureCity">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Отправление
                  <p-sortIcon field="route.schedule.departureCity"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" [hidden]="route" pSortableColumn="route.schedule.arrivalCity">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Прибытие
                  <p-sortIcon field="route.schedule.arrivalCity"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:58px" pResizableColumn pSortableColumn="user.phone">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Номер телефона
                  <p-sortIcon field="user.phone"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" pResizableColumn pSortableColumn="user.name">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Имя
                  <p-sortIcon field="user.name"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:30px" pSortableColumn="numberOfPlaces">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Кол-во мест
                  <p-sortIcon field="numberOfPlaces"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" pSortableColumn="departurePoint">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Место посадки
                  <p-sortIcon field="departurePoint"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px" pSortableColumn="arrivalPoint">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Место прибытия
                  <p-sortIcon field="arrivalPoint"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:40px" pSortableColumn="confirmed">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Статус
                  <p-sortIcon field="confirmed"></p-sortIcon>
                </div>
              </div>
            </th>
            <th style="width:50px"></th>
          </tr>
          <tr>
            <th>
            </th>
            <th style="width:50px" [hidden]="route">
              <p-calendar inputStyleClass="input" #dateFilter [appendTo]="'body'"
                          (onSelect)="filter('date', dateFilter.value)" [firstDayOfWeek]="1"
                          [readonlyInput]="true" dateFormat="dd.mm.yy" placeholder="дд.мм.гггг">
              </p-calendar>
            </th>
            <th style="width:40px" [hidden]="route">
              <input type="text" class="input" #timeFilter (keydown.enter)="filter('departureTime', timeFilter.value)"/>
            </th>
            <th style="width:50px" [hidden]="route">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #departureCityFilter (input)="filter('departureCityName', departureCityFilter.value)">
                    <option value="" selected>Все</option>
                    <option *ngFor="let city of cities">{{city}}</option>
                  </select>
                </div>
              </div>
            </th>
            <th style="width:50px" [hidden]="route">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #arrivalCityFilter (input)="filter('arrivalCityName', arrivalCityFilter.value)">
                    <option value="" selected>Все</option>
                    <option *ngFor="let city of cities">{{city}}</option>
                  </select>
                </div>
              </div>
            </th>
            <th style="width:58px">
              <input type="text" class="input colored" #phoneFilter prefix="+375 "
                     (keydown.enter)="filter('phone', phoneFilter.value)"/>
            </th>
            <th style="width:50px">
              <input type="text" class="input" #nameFilter
                     (keydown.enter)="filter('name', nameFilter.value)"/>
            </th>
            <th style="width:30px">
              <input type="text" class="input" #numberOfPlacesFilter
                     (keydown.enter)="filter('numberOfPlaces', numberOfPlacesFilter.value)"/>
            </th>
            <th style="width:50px">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #departurePointFilter (input)="filter('departurePointName', departurePointFilter.value)">
                    <option value="" selected>Все</option>
                    <option *ngFor="let point of points">{{point}}</option>
                  </select>
                </div>
              </div>
            </th>
            <th style="width:50px">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #arrivalPontFilter (input)="filter('arrivalPointName', arrivalPontFilter.value)">
                    <option value="" selected>Все</option>
                    <option *ngFor="let point of points">{{point}}</option>
                  </select>
                </div>
              </div>
            </th>
            <th style="width:40px">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #confirmedFilter (input)="filter('confirmed', confirmedFilter.value)">
                    <option value="" selected>Все</option>
                    <option [value]="true">Подтвержен</option>
                    <option [value]="false">Не подтвержден</option>
                  </select>
                </div>
              </div>
            </th>
            <th style="width:50px">
              <button class="button is-grey-light is-outlined" (click)="clear();
              dateFilter.onClearButtonClick(null); timeFilter.value = null; numberOfPlacesFilter.value = null; nameFilter.value = null;
              phoneFilter.value = null; departureCityFilter.value = ''; arrivalCityFilter.value = '';
              departurePointFilter.value = ''; arrivalPontFilter.value = ''; confirmedFilter.value = ''">
                <span class="icon is-small">
                  <i class="fas fa-undo"></i>
                </span>
              </button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-passenger let-rowIndex="rowIndex">
          <tr [pEditableRow]="passenger">
            <td style="width:10px">
              {{rowIndex + 1}}
            </td>
            <td *ngIf="!route" style="width:50px">
              {{passenger.route.departureDateTime | date:'dd.MM.yy'}}
            </td>
            <td *ngIf="!route" style="width:40px">
              {{passenger.route.departureDateTime | date:'HH:mm'}}
            </td>
            <td *ngIf="!route" style="width:50px">
              {{passenger.route.departureCity.name}}
            </td>
            <td *ngIf="!route" style="width:50px">
              {{passenger.route.arrivalCity.name}}
            </td>
            <td style="width:58px" [pTooltip]="passenger.user.phone">
              {{passenger.user.phone}}
            </td>
            <td style="width:50px" [pTooltip]="passenger.name">
              {{passenger.name}}
            </td>
            <td style="width:30px">
              {{passenger.numberOfPlaces}}
            </td>
            <td style="width:50px" [pTooltip]="passenger.departurePoint.name">
              {{passenger.departurePoint.name}}
            </td>
            <td style="width:50px" [pTooltip]="passenger.arrivalPoint.name">
              {{passenger.arrivalPoint.name}}
            </td>
            <td style="width:40px" class="has-text-centered">
              <i class="fas fa-check-circle fa-lg" [ngClass]="{'is-confirmed': passenger.confirmed}"></i>
            </td>
            <td style="width:60px">
              <div class="is-flex is-justify-content-end">
                <button class="button is-primary mr-1"
                        (click)="showPassenger(passenger)">
                  <span class="icon is-small">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
                <button class="button is-danger is-outlined"
                        (click)="removePassenger(passenger)">
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="10">
              <div class="pt-4 pb-4 has-text-centered">
                Нет пассажиров
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr *ngIf="currentRouteId">
            <td colspan="3" class="text-right">Всего пассажиров:</td>
            <td>{{totalPassengers}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div *ngIf="selectedRoute && (currentRouteId || passengerRouteId)" class="modal"
     [ngClass]="{ 'is-active' : isEditDialogActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{selectedRoute.departureDateTime | dateWithDay}}
        <br>
        {{selectedRoute.departureCity.name}}
        <span *ngIf="selectedRoute.platformNumber"> пл. № {{selectedRoute.platformNumber}}</span>&nbsp;-&nbsp;
        {{selectedRoute.arrivalCity.name}}
      </p>
      <button class="delete" aria-label="close" (click)="toggleEditDialog()"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <app-edit-passenger-form [passengerId]="selectedPassengerId"
                                 [routeId]="currentRouteId || passengerRouteId"
                                 (changesSubmit)="refreshPassengers()"
                                 (cancelChanges)="cancelChanges()">
        </app-edit-passenger-form>
      </div>
    </section>
  </div>
</div>
